
<div class="header">
  <div class="logo header-item">
    <img src="media/img/icons/logo2.png"/>
  </div>
  <div class="searchbar header-item clearfix">
    <select class="searchbar-item select-blue-chevron">
      <option disabled selected>פוסטים</option>
      <option>option 1</option>
    </select>
    <input type="text" class="searchbar-item" value="אני מחפש"/>
    <div class="search-btn searchbar-item left-side"><svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-search"></use></svg></div>
  </div>
  <div class="navbar header-item">
    <div class="profile-link">
      <div class="userpic"><img src="media/img/avatar.jpg"/></div>
      <div class="username">תומר</div>
      <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
      <div class="profile-menu">
        <ul>
          <li><svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-profile"></use></svg><span>פרופיל אישי</span></li>
          <li><svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-add-friends"></use></svg><span>הזמן חברים</span></li>
          <li><svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-people-outline"></use></svg><span>הצוות שלי</span></li>
          <li><img src="media/img/icons/t-coin.png"/><span>my TeamePay</span></li>
          <li class="exit-link"><svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-logout"></use></svg><span>יציאה</span></li>
        </ul>
      </div>
    </div>
    <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-home"></use></svg>
    <svg class="icon" viewBox="0 0 23 23"><use xlink:href="#icon-people-outline"></use></svg>
    <div class="notifications-container">
      <div class="notifications-counter">2</div>
      <svg class="icon" viewBox="0 0 22 22"><use xlink:href="#icon-notifications"></use></svg>
    </div>
    <svg class="icon" viewBox="0 0 32 32"><use xlink:href="#icon-chat"></use></svg>
    <svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-menu"></use></svg>
  </div>
</div>