
  <div class="header">
    <div class="clearfix">
      <ul class="info-block left-side">
        <li>הגנת הקונה</li>
        <li>עזרה</li>
        <li>חוסכים בגדול באפליקציה</li>
        <li>משלוח אל<svg class="icon israel-flag" viewBox="0 0 25 25"><use xlink:href="#icon-israel-flag"></use></svg>₪</li>
        <li>שפה<svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-chevron-down"></use></svg></li>
      </ul>
    </div>
    <div>
      <div class="logo header-item">
        <img src="media/img/icons/logo.png"/>
      </div>
      <div class="searchbar header-item clearfix">
        <select class="searchbar-item select-blue-chevron">
          <option disabled selected>פוסטים</option>
          <option>option 1</option>
        </select>
        <input type="text" class="searchbar-item" value="אני מחפש"/>
        <div class="search-btn searchbar-item left-side"><svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-search"></use></svg></div>
      </div>
      <div class="navbar header-item ecommerce-navbar">
        <div class="shoppingcart-container">
          <div class="shoppingcart-counter">2</div>
          <img src="media/img/icons/cart-icon.png"/>
          <span>עגלת הקניות</span>
        </div>
        <div>
          <img src="media/img/icons/favorites-icon.png"/>
          <span>פריטים מועדפים</span>
        </div>
        <div>
          <img src="media/img/icons/my-teames-icon.png"/>
          <span>My Teame's</span>
        </div>
        <div>
          <img src="media/img/icons/profile-icon.png"/>
          <span>כניסה לחשבון שלי / הצטרפות</span>
        </div>
      </div>
    </div>
  </div>