
<div class="left-side-container">

  <div class="add-campaign-block">
    <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-shop"></use></svg><span>צור קמפיין לשיתוף</span>
  </div>

  <div class="simple-block compaign-block">
    <div class="campaign-photo-container">
      <div class="t-coin-icon"></div>
      <img src="media/img/girl.jpg" />
    </div>
    <div class="campaign-description">
      <a>הורידו עכשיו את האפליקציה לנייד</a>
      <div>ותהנו ממגוון יתרונות</div>
    </div>
  </div>
  <div class="simple-block section-block">
    <div class="section-title">מודעות</div>
    <div class="campaign-item">
      <div class="campaign-photo-container">
        <img src="media/img/girl.jpg" />
      </div>
      <div class="campaign-description">
        <a>הורידו עכשיו את האפליקציה לנייד</a>
        <div>ותהנו ממגוון יתרונות</div>
      </div>
    </div>
    <div class="campaign-item">
      <div class="campaign-photo-container">
        <img src="media/img/girl.jpg" />
      </div>
      <div class="campaign-description">
        <a>הורידו עכשיו את האפליקציה לנייד</a>
        <div>ותהנו ממגוון יתרונות</div>
      </div>
    </div>
  </div>
  <div class="simple-block section-block">
    <div class="section-title">מועדפים שלי</div>
    <div class="campaign-item">
      <div class="campaign-photo-container">
        <img src="media/img/girl.jpg" />
      </div>
      <div class="campaign-description">
        <a>הורידו עכשיו את האפליקציה לנייד</a>
        <div>ותהנו ממגוון יתרונות</div>
      </div>
    </div>
    <div class="campaign-item">
      <div class="campaign-photo-container">
        <img src="media/img/girl.jpg" />
      </div>
      <div class="campaign-description">
        <a>הורידו עכשיו את האפליקציה לנייד</a>
        <div>ותהנו ממגוון יתרונות</div>
      </div>
    </div>
  </div>

  <div class="simple-block languages-block">
    <a class="selected">עברית</a><a>English</a><a>Русский</a>
  </div>

  <ul class="other-links">
    <li><a>פרטיות</a></li><li><a>תנאי שימוש</a></li><li><a>פרסום</a></li><li><a>עוד</a></li>
  </ul>
  <div>Ⓒ 2017 Team-e</div>
</div>