
<div class="modal">
  <div class="modal-content payment-modal">
    <div class="modal-header">
      <span>עריכת אמצעי תשלום</span>
      <svg class="icon close-popup-icon" viewBox="0 0 23 23"><use xlink:href="#icon-close"></use></svg>
    </div>
    <div>
      <input type="radio" id="card-number" name="payment-type"/>
      <label for="card-number"><img src="media/img/icons/visa.png"/><span>**** **** **** 4342</span><a>הסר כרטיס מהחשבון</a></label>
    </div>
    <div>
      <input type="radio" id="bank-account" name="payment-type"/>
      <label for="bank-account"><span>כרטיס אשראי חדש</span></label>
      <div class="account-properties">
        <div>
          <span>מספר כרטיס</span><input type="text" />
          <span>תוקף</span><input type="text" placeholder="שנה" /><span>/</span><input type="text" placeholder="חודש" />
          <span>3 ספרות בגב הכרטיס</span><input type="text" />
        </div>
        <div>
          <span>ספרות בגב הכרטיס</span><input type="text" placeholder="שם פרטי" /><input type="text" placeholder="שם משפחה" />
        </div>
        <div>
          <input type="checkbox" /><label>שמור כרטיס זה</label><span>ניתן להסיר כרטיס זה בכל עת מהחשבון שלי</span>
        </div>
      </div>
    </div>
    <div>
      <input type="radio" id="paypal" name="payment-type"/>
      <label for="paypal"><span>אמצעי תשלום אחר</span><img src="media/img/icons/pay-pal-big.png" class="paypal-image" /></label>
    </div>
  </div>
</div>