
<div class="right-side-container">
  <div class="shadow-block e-shop-link">
    <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-shop"></use></svg><span>לחנות Team-e</span>
  </div>
  <div class="simple-block">
    <div class="section-title">הפעילויות שלי</div>
    <ul class="activities-list">
      <li>
        <div class="svg-container">
          <svg class="icon icon-thumbs-up" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg>
        </div>
        <span>אהבתי</span>
      </li>
      <li>
        <div class="svg-container">
          <svg class="icon icon-arrow" viewBox="0 0 25 25"><use xlink:href="#icon-arrow"></use></svg>
        </div>
        <span>שיתפתי</span>
      </li>
      <li>
        <div class="svg-container">
          <svg class="icon icon-bags" viewBox="0 0 32 32"><use xlink:href="#icon-bags"></use></svg>
        </div>
        <span>רכשתי</span>
      </li>
      <li>
        <div class="svg-container">
          <svg class="icon icon-message" viewBox="0 0 25 25"><use xlink:href="#icon-message"></use></svg>
        </div>
        <span>הגבתי</span>
      </li>
      <li>
        <div class="svg-container">
          <svg class="icon icon-bookmark" viewBox="0 0 25 25"><use xlink:href="#icon-bookmark"></use></svg>
        </div>
        <span>סימנתי</span>
      </li>
      <li>
        <div class="svg-container">
          <span class="t-coin-icon"></span>
        </div>
        <span>נקודות שצברתי</span>
        </li>
      <li>
        <div class="svg-container">
          <svg class="icon icon-home" viewBox="0 0 25 25"><use xlink:href="#icon-home"></use></svg>
        </div>
        <span>דף הבית</span>
      </li>
    </ul>
  </div>
  <div class="simple-block">
    <div class="section-title">השותפים שלי</div>
    <div class="clearfix search-info"><span class="right-side">1,303 שותפים</span><a class="left-side">עוד</a></div>
    <input type="text" class="search-input" />
    <ul class="partners-list">
      <li>
        <div class="partner-info"><div class="userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span></div>
        <div class="toggle-block"></div>
      </li>
      <li>
        <div class="partner-info"><div class="userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span></div>
        <div class="toggle-block"></div>
      </li>
      <li class="opened">
        <div class="partner-info"><div class="userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span></div>
        <div class="toggle-block"></div>
        <div class="partner-extra-data">
          <div class="partner-data-title">השותפים שלי</div>
          <div class="clearfix search-info"><span class="right-side">520 שותפים</span><a class="left-side">עוד</a></div>
          <ul class="partners-sublist">
            <li>
              <div class="userpic little-userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span>
            </li>
            <li>
              <div class="userpic little-userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="partner-info"><div class="userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span></div>
        <div class="toggle-block"></div>
      </li>
      <li>
        <div class="partner-info"><div class="userpic"><img src="media/img/avatar.jpg"/></div><span>שלום כהן</span></div>
        <div class="toggle-block"></div>
      </li>
    </ul>
  </div>
</div>