.social-page {
	&__title {
		width: 100%;
		background-color: $aquamarine;
        padding: 10px 20px;
		box-sizing: border-box;
		font-size: 18px;
		color: #FFFFFF;
		font-weight: bold;
		line-height: 1.333;
	}
	&__subtitle {
		padding: 10px 0;
		font-size: 18px;
		color: #000000;
		line-height: 1.333;
	}
}

.add-product-form {
	width: 100%;
	border-bottom: 1px solid $border-color;
    margin-bottom: 10px;
    padding-bottom: 5px;

	.form-row {
		padding: 10px 0;

		> *, .form-row__part > * {
			display: inline-block;
			vertical-align: middle;
		}
		> .form-input {
			width: calc(100% - 40px);
		}
		.dropdown-container {
			border: 1px solid $dark-border;
			padding-left: 10px;
			padding-right: 10px;
		}

		input[type="text"], textarea {
			padding: 10px;
			font-size: 18px;
			height: 150px;
			border: 1px solid $dark-border;
			color: $usual-text;
    		box-sizing: border-box;
            font-family: 'Open Sans Hebrew', serif;
		}

		input[type="text"] {
			height: 38px;
		}

		svg.info-tooltip-trigger {
			width: 25px;
			height: 25px;
			margin-right: 10px;
			fill: $aquamarine;
		}
		.big-form-area + svg {
		    vertical-align: top;
		    padding-top: 5px;
		}

		&__part {
			margin: 10px 0 10px 10px;
			white-space: nowrap;

			svg.info-tooltip-trigger {
				margin-right: 0px;
			}
			input[type="text"] {
				width: 170px;
			}
		}

		@media(max-width: 400px) {
			.form-row__part input[type="text"]{
				width: calc(100% - 40px);
			}
		}
	}
	.form-row.no-padding-row {
		padding: 0px;
	}
}

.price-input, .percent-input {
	padding-left: 35px;

	& + label {
		position: relative;
	}
	& + label:after {
		content: '₪';
		top: -13px;
		right: -30px;
		position: absolute;
		font-size: 18px;
		color: $dark-blue;
		line-height: 1.333;
	}
}

.percent-input + label:after {
	content: '%';
	top: -11px;
	color: #000000;
}

.product-photos {
	&__upload-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
        margin: -10px;
	}
	&__upload-wrapper {
		position: relative;
        height: 150px;
    	flex: 1 1 120px;
        margin: 10px;
		background: url(../img/icons/upload-image.png) no-repeat center;
		background-color: #F5F6F6;
		border: 1px solid $dark-border;
		cursor: pointer;

		input[type="file"] {
			opacity: 0;
	        height: 150px;
	        width: 100%;
	        vertical-align: middle;
		}

		input[type="file"] + label {
			position: absolute;
		    bottom: 20px;
		    width: 100%;
		    text-align: center;
	        font-size: 18px;
	        color: $dark-blue;
		}
	}
	&__uploaded {
		position: relative;
    	display: inline-block;
    	vertical-align: middle;
		height: 150px;
		width: calc(100% / 3);
    	flex: 1 1 120px;
        margin: 10px;
		border: 1px solid $dark-border;

		img {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    width: auto;
		    height: auto;
		    max-height: 100%;
		    max-width: 100%;
		}

		svg {
		    position: absolute;
		    z-index: 10;
		    top: 0px;
		    right: 0px;
		    fill: #999999;
		    width: 30px;
		    height: 30px;
		}
		svg:hover {
		    fill: #666666;
		}

	}

	&__upload-wrapper.image-chosen {
		width: calc(100% / 3);
    	display: inline-block;
    	vertical-align: middle;
		label {
			display: none;
		}
	}
}
.product-category-container .dropdown-list {
    border-right: none;
    overflow-y: auto;
}
.product-category-container .dropdown-list.opened {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 950px) {
	.product-category-container .dropdown-list {
		max-height: 200px;
		overflow-x: hidden;
	}
}
.dropdown-list li.simple-block {
	padding: 10px;
    margin: 0px;
    min-width: 130px;
    flex: 1 1 calc(100% / 3);
    border-right: 1px solid $border-color;

    span:not(.categories-icon) {
	    word-break: break-all;
	    white-space: normal;
	    width: calc(100% - 50px);
	    color: #0071BC;
	    font-size: 14px;
    }


	.categories-icon.plus-big {
		width: 40px;
		height: 50px;
		margin-left: 10px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url(../img/icons/plus-big.png);
	}
    &:hover span {
    	color: #FFFFFF;
    }
}

@media (max-width: 1300px) {
	.dropdown-list li.simple-block {
		flex: 1 1 50%;
	}
}
@media (max-width: 950px) {
	.dropdown-list li.simple-block {
		flex: 1 1 calc(100% / 3);
	}
}
@media (max-width: 550px) {
	.dropdown-list li.simple-block {
		flex: 1 1 50%;
	}
}
@media (max-width: 450px) {
	.dropdown-list li.simple-block {
		flex: 1 1 100%;
	}
}