.ecommerce-page-container {
	display: block;
	width: 100%;
	max-width: none;
	margin: 0px;
	padding-bottom: 50px;
}
.categories-container {
	width: 80%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.simple-block {
		margin: 10px;
		height: 54px;
		width: calc((80% - 120px) / 6);
		min-width: 187px;
		max-width: 250px;
		flex: 1;
		cursor: pointer;

		span {
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
		}
		span:not(.categories-icon) {
			word-break: break-word;
			width: calc(100% - 60px);
		}
	}
}

.subcategories-container {
	background-color: #FFFFFF;
	padding: 20px 10px;
}
.category-block {
	width: 80%;
	margin: 0px auto;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.category-name {
	padding: 3px 10px;
	margin-bottom: 5px;
	background-color: #DDDDDD;
	font-size: 20px;
	color: $dark-blue;
	line-height: 1.2;
	cursor: pointer;
}

.subcategories-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		float: right;
		width: calc((100% - 60px) / 6);
		margin-left: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 14px;
		color: #000000;
		line-height: 1.714;
	}
}

@media(max-width: 1000px) {
	.subcategories-list li {
		width: calc((100% - 40px) / 4);
	}

}

@media(max-width: 800px) {
	.category-block {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0px;
	}
	.subcategories-list li {
		width: calc((100% - 20px) / 2);
	}

}
@media(max-width: 700px) {
	.categories-container {
		width: 100%;
	}
}
@media(max-width: 400px) {
	.subcategories-list li {
		width: 100%;
	}

}




.categories-icon {
    position: relative;
	display: inline-block;
	width: 40px;
	height: 50px;
	margin-left: 10px;
    vertical-align: middle;

    img {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: auto;
	    height: auto;
	    max-height: 100%;
	    max-width: 100%;
    }
}

.social-categories {

	input[type="checkbox"] + label:before {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid $aquamarine;
		box-shadow: none;
	}
	input[type="checkbox"]:checked + label:before {
		background-color: $aquamarine;
	}
	input[type="checkbox"]:checked + label:after {
	    right: -20px;
		top: 10px;
	    width: 10px;
	    height: 6px;
	}
	.categories-container, .subcategories-list {
		width: 100%;
	}
	.categories-container .simple-block {
        margin: 5px;
    	padding: 8px 10px;
        min-width: 150px;
		color: #000000;
    	width: calc((100% - 60px) / 6);
		border: 1px solid $aquamarine;
		box-sizing: content-box;

		span:not(.categories-icon) {
			width: calc(100% - 100px);
			font-size: 14px;
		}
		> input[type="checkbox"], > label {
		    display: inline-block;
		    vertical-align: text-top;
		}
		input[type="checkbox"] + label:before {
			right: -10px;
		}
		input[type="checkbox"]:checked + label:after {
	    	right: -5px;
			border-color: #37C0DB;
	    }
		input[type="checkbox"]:checked + label:before {
			background-color: #FFFFFF;
		}
	}

	.social-page__subcategories {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 40px;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-start;

	    .subcategories-item {
	    	width: calc((100% - 90px) / 3);
	    	margin-left: 20px;
	    	margin-right: 10px;
	    	margin-top: 20px;

		    @media(max-width: 1200px) and (min-width: 951px) {
		    	width: calc((100% - 60px) / 2);
		    }

		    @media(max-width: 600px) {
		    	width: calc((100% - 60px) / 2);
		    }

		    @media(max-width: 450px) {
		    	width: 100%;
		    }
		}

	    .subcategory-title {
			font-size: 14px;
			line-height: 1.29;
			color: $dark-blue;
			cursor: pointer;
	    }

		.social-page__subcategories-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.social-page__subcategories-list li {
		    margin: 20px 0px;
			font-size: 14px;
			line-height: 1.29;
		}
		input[type="checkbox"] + label {
			font-size: 14px;
			line-height: 1.286;
			word-break: break-all;
		}

		input[type="checkbox"]:checked + label {
			font-weight: 600;
			font-family: "Open Sans Hebrew Bold";
		}
		input[type="checkbox"] + label:before {
			top: 0px;
		}
		input[type="checkbox"] + label:after {
			top: 5px;
		}
	}

	.submit-links {
		text-align: center;

		* {
			display: block;
			margin: 10px auto;
		}
	}

}

.categories-container .simple-block.active {
	background-color: $dark-blue;
	border-color: $dark-blue;
	color: #FFFFFF;
}