.btn {
	padding: 5px 20px;
	height: 38px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Open Sans Hebrew Bold', serif;
	line-height: 1.333;
	background-color: #FFFFFF;
	border: 1px solid $aquamarine;
	border-radius: 15px;
	color: $dark-blue;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.btn:focus {
	outline: none;
}
.blue-btn {
	color: #FFFFFF;
	border-color: $dark-blue;
	background-color: $dark-blue;
	-webkit-box-shadow: inset 0px 15px 20px -8px #03A6DD;
	-moz-box-shadow: inset 0px 15px 20px -8px #03A6DD;
	box-shadow: inset 0px 15px 20px -8px #03A6DD;
}

.btn-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.buying-btns .btn{
	width: 30%;
	min-width: 150px;
	margin: 10px;
}
.btn-wrapper.buying-btns
{
	text-align: center;
}

.btn-wrapper.buying-btns .blue-btn 
{
	color: #FFFFFF;
}
select.select-blue-chevron {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding: 5px;
	padding-left: 30px;
	height: 35px;
	font-size: 18px;
	border: 1px solid $border-color;
	background: url(../img/icons/chevron-blue.png) 5px center no-repeat;
	background-size: 20px 17px;
}
.search-input {
	width: 100%;
	padding: 5px;
	padding-left: 30px;
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 18px;

	border: 1px solid #9A9496;
	color: $dark-blue;
	background: url(../img/icons/search.png) no-repeat 5px center #FFFFFF;
	background-size: 20px;
}

input[type="checkbox"] {
	display: none !important;
}
input[type="checkbox"] + label {
	position: relative;
	margin-right: 25px;
	color: #000000;
}
input[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	right: -25px;
	top: 5px;
	width: 15px;
	height: 15px;
	border-radius: 4px;
	background-color: $dark-blue;
	box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.137);
}

input[type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
    right: -23px;
    top: 8px;
    width: 8px;
	height: 5px;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}