.simple-block {
	background-color: #FFFFFF;
	margin-bottom: 20px;
	padding: 10px 20px;
}
.right-side-container .simple-block {
	padding: 10px;
}

.scroll-to-top-block {
	z-index: 5;
	position: fixed;
	bottom: -20px;
	right: 10%;
	padding: 20px;
	padding-bottom: 40px;

	background-color: rgb(237, 241, 242);
	box-shadow: -0.14px -3.998px 8px 0px rgba(0, 0, 0, 0.094);
	cursor: pointer;
	border-radius: 20px;

	* {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		margin-left: 10px;
		font-size: 24px;
		color: $usual-text;
		line-height: 1.25;
	}
	svg {
		fill: $dark-blue;
		width: 30px;
		height: 30px;
	}
}
.breadcrumbs-container {
	width: 100%;
	background-color: $aquamarine;
	padding: 0px;
	padding-right: 10%;
	box-sizing: border-box;

	> * {
		display: inline-block;
		vertical-align: middle;
		margin: 5px 0;
		margin-left: 30px;
	}
}
.breadcrumbs {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		padding-right: 10px;
	}
	li, li a, li a:link, li a:hover, li a:focus, li a:visited  {
		cursor: pointer;
		color: #FFFFFF;
	}
	li:not(:last-child):after {
		content: '>';
		display: inline-block;
		margin-right: 10px;
	}
	li.active {
		font-weight: 600;
	}
}

.social-part-title {
    padding: 3px 10px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.2;
    cursor: pointer;
	color: #FFFFFF;
	background-color: $dark-blue;
}

ul.tabs {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	display: flex;
	justify-content: space-between;

	li {
		display: inline-block;
		padding: 20px 10px;
		font-size: 20px;
		line-height: 1.2;
		text-align: center;
		color: #000000;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		cursor: pointer;
		flex: 1;
	}
	li:focus,
	li:hover,
	li.active {
		font-weight: bold;
		font-family: 'Open Sans Hebrew Bold', serif;

	}

	li.active {
		background-color: #F5F6F6;
	}
}


.tab-content {
	display: none;
	background-color: #F5F6F6;
	min-height: 100px;
	padding: 15px;
	color: #000000;

	&.active {
		display: block;
	}
}

.page-title {
	font-size: 48px;
	color: #000000;
	padding-top: 45px;
	padding-bottom: 29px;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 17px;
}
.homepage-link {
	font-family: 'Open Sans Hebrew Bold';
	font-size: 18px;
	font-weight: bold;
	color: $dark-blue;
}

.dropdown-container {
	position: relative;
	width: 180px;
	padding: 5px;
	padding-top: 2px;
	padding-left: 30px;
	height: 35px;
	font-size: 18px;
	border: 1px solid $border-color;
	background: url(../img/icons/chevron-blue.png) 5px center no-repeat;
	background-size: 20px 17px;
	box-sizing: border-box;

	.dropdown-selected-value {
		width: 100%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
	}
	.dropdown-selected-value *{
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
	svg {
		width: 30px;
		height: 30px;
		pointer-events: none;
	}
}

.dropdown-list {
	z-index: 9999;
	position: absolute;
	top: 33px;
	left: -1px;
	width: 100%;
	display: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
	border: 1px solid $border-color;

	&.opened {
		display: block;
	}

	li {
		padding: 2px 5px;
		border-bottom: 1px solid $border-color;
		cursor: pointer;
		background-color: #FFFFFF;
		width: 100%;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
		box-sizing: border-box;
	}
	li:last-child {
		border: none;
	}
	li:hover {
		background-color: #3771CE;
		color: #FFFFFF;
	}
	li * {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
}

.tooltip {
	position: absolute;
	display: none;
	z-index: 10;
	width: 300px;
	padding: 15px 12px;
	font-size: 18px;
	color: #000000;
	line-height: 1.333;
	background: #D8F8FC;
	border: 1px solid #71E4F1;
	border-radius: 20px;

	&:before {
		content: '';
		position: absolute;
	    top: -14px;
	    left: 25px;
	    width: 25px;
	    height: 25px;
	    z-index: 9;
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    background-color: #D8F8FC;
	    border: 1px solid #71E4F1;
	    border-bottom: none;
	    border-left: none;
	}

	&__additioanl-info-block {
		text-align: left;
		cursor: pointer;
		margin-top: 20px;
	}
	&__additioanl-info-block svg {
		fill: $dark-blue;
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}

	&__additioanl-info-block * {
		display: inline-block;
		vertical-align: middle;
	}
}
.tooltip.right-arrow {
	&:before {
	    right: 25px;
	}
}

.tooltip.right-arrow.bottom-arrow {
	&:before {
	    border: 1px solid #71E4F1;
	    border-top: none;
	    border-right: none;
	    bottom: -14px;
	    top: auto;
	}
}



.tourbus-arrow-bottom:after,
.tourbus-arrow-bottom:before {
    border-bottom-color: transparent;
    margin-left: 0px;
    top: -16px;
}
.tourbus-arrow-bottom:after {
    border-left-color: #ffffff;
    border-width: 17px;
}
.tourbus-arrow-bottom:before {
    border-left-color: #e5e5e5;
}
.tourbus-leg {
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.6);
}
.tourbus-leg-inner {
	padding: 10px;

	.tourbus-popup-header {
		position: relative;
  		border-bottom: solid 1px $dark-border;
  		margin-bottom: 5px;

  		h2 {
  			margin: 0px;
			font-size: 18px;
			line-height: 1.67;
			color: $dark-blue;
			font-weight: 300;
  		}
  		.t-coin-icon {
  			vertical-align: middle;
  			width: 18px;
  			height: 18px;
  			margin-left: 5px;
  		}
	}
	svg.close-popup-icon {
		width: 12px;
		height: 15px;
		fill: #a6a6a6;
		position: absolute;
		left: 0px;
		top: 5px;
	}
	p {
		font-size: 18px;
		text-align: right;
		color: $usual-text;
		margin: 2px 0;
	}
	.tourbus-popup-footer {
		margin-top: 30px;

		a {
			font-size: 14px;
			color: $aquamarine;
		}
		a:hover, a:active {
			color: $dark-blue;
		}
	}

	.tourbus-next {
		float: left;
	}
	.tourbus-stop {
		float: right;
	}
}