

.userpic {
	border-radius: 50%;
	overflow: hidden;
	width: 33px;
	height: 33px;
}
.userpic img {
	width: 100%;
}

.t-coin-icon {
	display: inline-block;
	width: 20px;
	height: 19px;
	margin-right: 4px;
	background: url(../img/icons/t-coin.png) 0 0;
	background-size: contain;
	cursor: pointer;
}
.header {
	padding: 10px;
	text-align: center;
	background-color: $dark-blue;
}
.header-item {
	display: inline-block;
	margin: 0px 20px;
	vertical-align: middle;
}
.header svg, .menu svg {
	fill: $aquamarine;
	width: 30px;
	height: 30px;

}
.menu svg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.social-menu {
	height: 83px!important;
	padding-top: 14px;
}

.info-block {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left: calc(10% - 10px);
}
.info-block li {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	font-family: 'Open Sans Hebrew Bold', serif;
	font-weight: bold;
	line-height: 1.286;
	color: $cyan-color;
	border-left: 1px solid $cyan-color;
	cursor: pointer;
}
.info-block li * {
	display: inline-block;
	vertical-align: middle;
}
.info-block li svg.israel-flag {
	width: 35px;
	height: 25px;
	margin-left: 5px;
	padding-left: 2px;
	border-left: 2px solid $cyan-color;
}
.info-block li svg:not(.israel-flag) {
	color: $cyan-color;
	width: 30px;
	height: 30px;
}
.info-block li:last-child {
	border: none;
}

.navbar > div, .navbar > svg{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}
.ecommerce-navbar > div {
	white-space: nowrap;
	margin-left: 10px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 5px;
}
.ecommerce-navbar > div > span {
	max-width: 100px;
}

.ecommerce-navbar > div > * {
	display: inline-block;
	vertical-align: middle;
	color: #FFFFFF;
	white-space: normal;
	word-break: break-word;
}
.notifications-container, 
.shoppingcart-container {
	position: relative;
}

.notifications-counter,
.shoppingcart-counter {
	position: absolute;
	right: -5px;
	top: -1px;
	background-color: #D0011B;
	color: white;
	font-size: 12px;
	padding: 3px 3px;
	min-width: 15px;
	border-radius: 50%;
}
.shoppingcart-counter {
	right: 10px;
	top: -20px;
}
.profile-link {
	color: #FFFFFF;
	position: relative;
	border: 10px solid transparent;
}
.profile-link *:not(img) {
	display: inline-block;
	margin: 0px 3px;
	vertical-align: middle;
}
.profile-link svg {
	fill: #FFFFFF;
	width: 25px;
	height: 25px;
}

.profile-link .profile-menu {
	display: none;
}
.profile-link .profile-menu {
	position: absolute;
	z-index: 10;
    margin: 0px;
    top: 40px;
    left: -10px;
	background-color: #F5F6F6;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	color: $dark-blue;

	svg {
		fill: $dark-blue;
	}

	@media(max-width: 900px) {
		left: auto;
		right: -10px;
	}
	@media(max-width: 450px) {
		left: auto;
		right: -35px;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		text-align: right;
		min-width: 260px;
		padding: 13px 25px;
	}
	li {
		white-space: nowrap;
		display: block;
		padding: 13px 0;
		cursor: pointer;

		* {
			display: inline-block;
			vertical-align: middle;
		}
		img {
			width: 25px;
			height: 25px;
			margin-left: 5px;
		}
	}
	.exit-link {
		border-top: 1px solid #dddddd;
		padding: 25px 0;
	}
}
.profile-link.active, .profile-link:hover {
	background-color: #F5F6F6;
	border-color: #F5F6F6;
	color: $dark-blue;

	svg {
		fill: $dark-blue;
	}
	.profile-menu {
		display: block;
	}
}
.header .logo {
	cursor: pointer;
}
.searchbar {
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;

	.select-blue-chevron {
		border-right: none;
		border-top: none;
		border-bottom: none;
	}
}
.searchbar-item {
	width: calc((100% - 99px) / 2);
	display: inline-block;
	vertical-align: middle;
	border: none;
	outline: none;
	padding: 5px;
	font-size: 18px;
}
.search-btn {
	width: 80px;
	background-color: $aquamarine;
	padding: 5px 30px;
	box-sizing: border-box;
	cursor: pointer;

	svg {
		fill: white;
		color: white;
		width: 20px;
		height: 21px;
	}
}