.page-content {
	margin: 20px auto;
	width: 75%;
	display: flex;
	display: -ms-flexbox;
	margin-bottom: 0px; 
	padding-bottom: 70px; 

	@media(max-width: 1600px) {
		max-width: 1200px;
	}

	@media(max-width: 1100px) {
		width: 90%;
	}

	@media(max-width: 950px) {
		margin: 20px;
		width: calc(100% - 40px);
	}
}

.left-side-container {
	width: 22%;
	min-width: 250px;
}
.right-side-container {
	width: 200px;
}
.main-container {
	margin: 0 20px;
	width: calc(100% - 450px);
	min-width: 400px;
}
@media(max-width: 950px) {
	.main-container {
		width: 100%;
		margin: 0;
		min-width: auto;
	}
	.left-side-container, .right-side-container {
		display: none;
	}
}