body
	background-color: #ECEEEE
	color: $usual-text
	font-size: 18px
	direction: rtl
	font-family: 'Open Sans Hebrew', serif
	margin: 0px

a, a:link, a:hover, a:focus, a:visited
	text-decoration: none
	font-size: 18px
	color: $dark-blue
	line-height: 1.333
	cursor: pointer

input:focus, select:focus
	outline: none

select::-ms-expand
	display: none

svg
	cursor: pointer

.rounded-8 
	border-radius: 8px

.clearfix:before,
.clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

.clearfix 
	zoom: 1

.left-side
	float: left

.right-side
	float: right

.shadow-block
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3)
