
.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

@media(max-width: 768px) {
	.modal {
		padding-top: 5%;
	}
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.payment-modal .modal-header {
	text-align: right;
}
.payment-modal h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: $dark-blue;
    display: inline-block;
    max-width: none;
    margin: 0;
}
.payment-modal svg.close-popup-icon {
	width: 25px;
	height: 25px;
	fill: #a6a6a6;
	position: absolute;
	left: 20px;
	top: 20px;
}

.payment-modal {
	input[type="radio"] {
		display: none;
	}

	input[type="radio"]+label {
		position: relative;
		margin-right: 20px;

		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}
	input[type="radio"]+label:before {
		content: '';
		position: absolute;
		top: 8px;
		right: -20px;
		display: block;
		width: 12px;
		height: 12px;
		background-color: #FFFFFF;
		border: 1px solid #999494;
		cursor: pointer;
		border-radius: 50%;
	}
	input[type="radio"]:checked+label:before {
		border-color: $dark-blue;
	}
	input[type="radio"]:checked+label:after {
		content: '';
		position: absolute;
		top: 8px;
		right: -20px;
		display: block;
		width: 7px;
		height: 7px;
		background-color: #FFFFFF;
		border: 4px solid $dark-blue;
		cursor: pointer;
		border-radius: 50%;
	}

	img {
		height: 15px;
		width: auto;
		margin: 0 5px;
	}
	.paypal-image {
		height: 29px;
	}
}