.partners-list-page {
	padding: 10px;
}
.partners-list {

	&__searchbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 10px;
		font-size: 14px;
		background-color: $dark-blue;
		color: #FFFFFF;
		.search-input {
			max-width: 300px;
			min-width: 150px;
			flex: 1 1 150px;
		}
	}
	&__search-info {
		margin-left: 20px;
		padding: 5px 0;
	}
	&__page-title {
		font-size: 18px;
		font-weight: bold;
		font-family: 'Open Sans Hebrew Bold';
		margin-left: 10px;
	}
	&__toggle-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		font-size: 14px;
		background-color: $aquamarine;
		color: #FFFFFF;

		* {
			margin-left: 5px;
		}

		.toggle-block-arrow {
			background: url(../img/icons/chevron-white.png) no-repeat center;
			height: 12px;
			width: 24px;
			background-size: cover;
			cursor: pointer;
		}
		.toggle-block-arrow.opened {
			transform: rotate(180deg);
		}
	}
	&__container {
		.partners-stage-number {
			font-weight: bold;
			font-family: 'Open Sans Hebrew Bold';
			font-size: 18px;
			margin-left: 10px;
		}
	}

	&__item {		
		margin-bottom: 10px;
	}

	&__toggle-list {
		display: none;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			padding: 10px;
			margin-top: 6px;
			border: 1px solid #C2C2C2;

			> * {
				vertical-align: middle;
				display: inline-block;
				margin-left: 10px;
			}

			svg {
				width: 27px;
				height: 23px;
				fill: #9E9E9E;
			}
		}
	}
	&__toggle-list.opened {
		display: block;
	}
}