.product-page {
	background-color: #FFFFFF;
	padding: 20px 10%;
	box-sizing: border-box;
}
.product-title {
	font-size: 18px;
	color: rgb(0, 0, 0);
	line-height: 1.333;
}
.product-block .buying-btns {
	margin-top: 30px;
}
.product-gallery, .product-block .reviews-container {
	width: 560px;
}
.product-block .reviews-container {
	margin-top: 10px;
}
.product-info, .product-title-container {
	width: calc(98% - 560px);
}
.product-short-info > div {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.714;
	color: #000000;
	border-left: 1px solid #000000;
	padding-left: 6px;
	margin-left: 3px;
}
.product-short-info > div:last-child, .product-short-info > div.rating-container {
	border: none;
}

.product-short-info {
	.rating-container {
		font-size: 18px;
		line-height: 1.333;
		color: $aquamarine;
	}
	.rating-container * {
		display: inline-block;
		vertical-align: middle;
	}
	.rating-container svg {
		width: 25px;
		height: 25px;
		fill: $aquamarine;
	}
}

.product-colors {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin-left: 30px;
	}
	li * {
		display: inline-block;
		vertical-align: middle;
	}

	input {
		display: none;
	}

	input[type="radio"]+label {
		position: relative;
		width: 25px;
		height: 25px;
		margin-left: 5px;
		margin-bottom: 10px;
		background-color: #000000;
		border: 3px solid #FFFFFF;
		outline: 1px solid $border-color;
		cursor: pointer;
	}
	input[type="radio"]:checked+label {
		border-color: $dark-blue;
		outline-color: $dark-blue;
	}


	input[type="radio"]#grey-product + label {
		background-color: $border-color;
	}

	input[type="radio"]#white-product + label {
		background-color: #FFFFFF;
	}
}


.delivery-duration {
	opacity: 0.5;
	color: $usual-text;
	display: block;
	svg {
		fill: $aquamarine;
		width: 20px;
		height: 20px;
	}
}


.quantity-selector {
	padding: 3px 5px;
	width: auto;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid $border-color;
	svg {
		fill: $dark-blue;
		width: 20px;
		height: 20px;
	}
}
.quantity-selector *,
.delivery-duration * {
	display: inline-block;
	vertical-align: middle;
}

.limited {
	color: rgb(153, 148, 148);
}

.discount-info {
	color: #D0011B;
	border: 1px dotted #D0011B;
	padding: 5px;
}

.buying-links {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 30px;

	a:not(:last-child) {
		margin-left: 20px;
	}
	a * {
		display: inline-block;
		vertical-align: middle;
	}
	svg {
		fill: $dark-blue;
		width: 30px;
		height: 30px;
	}
}


.description-table {
	width: 100%;

	tr td {
		padding: 5px 10px;
		padding-right: 0px;
		font-size: 18px;
		line-height: 1.333;
		color: #000000;
	}
	tr td:first-child {
		color: rgb(153, 148, 148);
		width: 30%;
	}
	select {
		margin-bottom: 10px;
	}
	.dropdown-container {
		display: inline-block;
		vertical-align: middle;
	}
}


.table-with-discount tr td {
	padding-top: 10px;
	padding-bottom: 10px;
}


.product-info .description-table {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	margin-top: 10px;
	margin-bottom: 20px;

	tr:first-child td {
		padding-top: 30px;
	}
	tr:last-child td {
		padding-bottom: 20px;
	}
}

.double-table-container .description-table {
	width: 49%;
}
.block-title {
	padding-bottom: 5px;
	padding-top: 10px;
	margin-bottom: 20px;

	font-size: 20px;
	line-height: 1.2;
	color: rgb(0, 0, 0);
	border-bottom: 2px solid $border-color;
}

.block-info img {
	border: 1px solid #E9E9E9;
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.seller-info {
	width: 180px;
	padding: 20px 15px;
	background-color: #F5F6F6;
	box-sizing: border-box;

	.rating {
		margin-bottom: 20px;
	}
	.section-title {
		font-weight: normal;
		font-family: 'Open Sans Hebrew', serif;
		margin-bottom: 10px;
	}
}

.product-full-info {
	width: calc(100% - 200px);
}
.seller-links {
	margin: 30px 0;

	a {
		color: $dark-blue;
		display: block;
		margin: 10px 0;
	}
	a *{
		display: inline-block;
		vertical-align: middle;
	}
	svg {
		fill: $dark-blue;
		width: 30px;
		height: 30px;
		margin-left: 5px;
	}
}

.seller-categories {
	margin-bottom: 30px;
}
.seller-category-item {
	position: relative;
	padding-right: 15px;
	cursor: pointer;
}

.seller-category-item:before {
	content: '';
	top: 6px;
	right: 0;
	position: absolute;
	height: 0px;
	width: 0px;
	border-right: 6px solid #000000;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}

.bestsellers-product {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 14px;
	color: #000000;
	line-height: 1.286;
	cursor: pointer;
}
.bestsellers-product img {
	width: 100%;
}
.product-images .product-main-photo,
.product-images .photo-gallery {
	display: inline-block;
	vertical-align: top;
}
.product-main-photo {
	width: calc(100% - 80px);
	height: 440px;
	margin-left: 20px;
}


.product-main-photo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}
.photo-gallery {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 55px;

	li {
		position: relative;
		width: 50px;
		height: 50px;
		border: 3px solid transparent;
		cursor: pointer;
	}
	li.active {
		border-color: $dark-blue;
	}
	li img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}
}
.glass {
  width: 200px;
  height: 200px;
  position: absolute;
  cursor: crosshair;
  border: 2px solid $dark-blue;
  background: $dark-blue;
  opacity: 0.5;
  pointer-events: none;
 
  display: none;
}

.zoom-photo {
	color: rgb(195, 196, 198);
	line-height: 1.333;
	
	* {
		display: inline-block;
		vertical-align: middle;
	}
	svg {
		margin-left: 10px;
		fill: rgb(195, 196, 198);
		width: 30px;
		height: 30px;
	}
}

.easyzoom--adjacent .easyzoom-flyout {
	left: calc(-100% - 50px);
}
.easyzoom--adjacent .easyzoom-flyout img {
	max-height: none;
	max-width: none;
	transform: none;
}

.product-block {
	.others-actions {
		margin: 0px;
	}
	.review-item {
		border-color: $border-color;
	}
	.reviews-container .buying-links {
		margin-top: 0px;
		margin-bottom: 10px;
		padding: 10px 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
	.reviews-container .others-actions {
		background-color: #E0FBFE;
	}
}

.search-field-breadcrumbs {
	background: #FFFFFF;
	padding-bottom: 3px;
	white-space: nowrap;

	* {
		display: inline-block;
		vertical-align: middle;
	}
	input {
		padding: 5px;
		font-size: 18px;
		border: none;
		width: calc(100% - 50px);
	}
	svg {
		width: 30px;
		height: 30px;
		fill: #999999;
	}
}


@media(max-width: 1200px) {
	.product-gallery, .product-info, .product-title-container, .product-block .reviews-container {
		float: none;
		width: 100%;
	}
	.easyzoom--adjacent .easyzoom-flyout {
		left: -20px;
		top: 100%;
	}
}
@media(max-width: 900px) {
	.product-full-info .double-table-container .description-table {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
}
@media(max-width: 775px) {
	.product-page {
		padding-left: 5%;
		padding-right: 5%;
	}
	.seller-info {
		width: 150px
	}
	.product-full-info {
		width: calc(100% - 170px);
	}
}
@media(max-width: 650px) {
	.seller-info, .product-full-info {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.bestsellers-products {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: 0 -10px;
	}
	.bestsellers-product {
		width: calc((100% - 20px) / 2);
		margin: 10px;
		min-width: 130px;
		flex: 1;
	}
}
@media(max-width: 500px) {
	.product-images .product-main-photo {
		display: block;
		width: 100%;
		height: 320px;
		margin: 20px 0;
	}
	.product-images .photo-gallery {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media(max-width: 450px) {
	ul.tabs {
		display: block;
	}
	ul.tabs li {
		display: block;
		margin: 10px 0;
		border: 1px solid $border-color;
	}
}