.profile-page {

	.page-title, .homepage-link {
		margin-right: 10%;
		margin-left: 10%;
	}

	.ecommerce-page-container {
		margin-top: 18px;
	    background-color: #FFFFFF;
	    padding: 20px 10%;
	    box-sizing: border-box;
	}
}
.user-photo {
	width: 250px;
	padding: 25px 0;
    box-sizing: border-box;

    .profile-userpic {
    	width: 80px;
    	height: 80px;
    }

	&__container {
		input[type="file"] {
			display: none;
		}
		input[type="file"] + label {
			font-size: 14px;
			text-align: center;
			color: $dark-blue;
			cursor: pointer;
		}
	}
}
.user-info-form {
	width: calc(100% - 250px);
	display: flex;
	align-items: stretch;
	justify-content: space-between;
    flex-wrap: wrap;

	&__item {
		padding: 25px 15px;
    	flex: 1 1 calc(100% / 3);

    	box-sizing: border-box;
    	border-bottom: solid 1px #dddddd;
	}

	&__end {
		width: 100%;
		padding: 25px 0;

		> * {
			display: inline-block;
			vertical-align: middle;
		}
		.your-teams {
			width: calc(100% - 170px);

			* {
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				color: #000000;
			}

			img {
				width: 19px;
				height: 19px;
			}

			.teams-terms {
				font-weight: 300;
			}
			.teams-count {
				font-family: 'Open Sans Hebrew Bold';
				font-weight: bold;
			}
		}
	}

}
.user-info-form__item, .user-photo {
	font-size: 18px;
	font-weight: 300;

	> * {
		display: inline-block;
		vertical-align: top;
	}

	.field-name, .user-status {
		color: #6d6d6d;
	}
	.field-value {
		color: #000000;
		&__item * {
			display: inline-block;
			vertical-align: middle;
		}
		.field-edit {
			padding: 3px;
			display: none;
		}
		.field-text {
			//display: none;
		}
	}
	svg {
		width: 22px;
		height: 22px;
		fill: #6d6d6d;
		margin-top: 5px;
	}
	.icon-edit {
		fill: $dark-blue;
		width: 16px;
		height: 16px;
		margin-top: 0;
	}
}

@media(max-width: 1000px) {
	.user-info-form__item {
		flex: 1 1 calc(100% / 2);
	}
}
@media(max-width: 750px) {
	.user-photo, .user-info-form {
		flex: none;
		width: 100%;
	}

	.user-photo {
		padding: 25px 15px;
		border-bottom: solid 1px #dddddd;
	}
}
@media(max-width: 500px) {
	.user-info-form__item {
		flex: 1 1 100%;
	}
	.user-info-form__end {

		> * {
			width: 100%;
			display: block;
			text-align: center;
		}
		.your-teams {
			width: 100%;
			text-align: right;
			margin-bottom: 30px;
		}
	}
}