
.add-campaign-block {
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006FB7;
    -webkit-box-shadow: inset 0px 44px 40px -21px rgba(0,89,149,1);
    -moz-box-shadow: inset 0px 44px 40px -21px rgba(0,89,149,1);
    box-shadow: inset 0px 44px 40px -21px rgba(0,89,149,1);
    cursor: pointer;
}
.shadow-block {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.e-shop-link, .add-campaign-block {
	* {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
	}

	svg {
		fill: #ffffff;
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 10px;
	}
}
.e-shop-link {
	margin-bottom: 20px;
	padding: 15px 10px;
	font-size: 18px;
	line-height: 1.333;
	text-align: center;

	color: $cyan-color;
	background-color: $dark-blue;
	cursor: pointer;
	svg {
		fill: $cyan-color;
	}
}
.campaign-photo-container {
	position: relative;
	margin-top: 10px;

	.t-coin-icon {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 40px;
		height: 40px;
	}
}
.compaign-block img, .section-block img {
	width: 100%;
	height: auto;
}
.campaign-item:not(:last-child) {
	border-bottom: 1px solid $light-border;
}
.campaign-description {
	padding-bottom: 10px;
	
	line-height: 1.333;
	font-size: 18px;
}


.section-title {
	font-size: 18px;
	color: rgb(154, 148, 150);
	font-weight: bold;
	font-family: 'Open Sans Hebrew Bold', serif;
	line-height: 1.333;
}

.activities-list {
	list-style-type: none;
	padding: 0px;
	.svg-container {
		display: inline-block;
		vertical-align: middle;
		width: 35px;
		height: 35px;
	}
}
.activities-list {
	svg {
		width: 28px;
	}
	.icon-thumbs-up {
		fill: $dark-blue;
	}
	.icon-arrow {
		fill: #3CC3C9;
	}
	.icon-bags {
		fill: #615EAF;
	}
	.icon-message {
		fill: #39AC44;
	}
	.icon-bookmark {
		fill: #A5383B;
	}
	.icon-home {
		fill: #80E2EF;
	}
}

.search-info span {
	color: $light-text;
}
.partners-list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;

	li {
		padding: 5px 0;
		cursor: pointer;
		border-bottom: 1px solid $light-border;
	}
	li:last-child {
		border: none;
	}

	.toggle-block {
		width: 16px;
		height: 15px;
		background: url(../img/icons/chevron-grey.png) 0 0 no-repeat;
		background-size: contain;
		cursor: pointer;
	}
	.opened .toggle-block {

		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		transform: rotate(180deg);
		background-image: url(../img/icons/chevron-blue.png);
	}

	li > .partner-info, li > .toggle-block {
		display: inline-block;
		vertical-align: middle;
	}
	li .partner-info {
		width: calc(100% - 25px);
	}
	.userpic {
		margin-left: 10px;
	}
	.partner-info > * {
		display: inline-block;
		vertical-align: middle;
	}

	.partner-extra-data {
		padding: 10px 0;
		margin-top: 10px;
		border-top: 1px solid $aquamarine;
		border-bottom: 1px solid $aquamarine;
	}
	.partner-data-title {
		font-weight: bold;
		font-family: 'Open Sans Hebrew Bold', serif;
		color: #000000;
	}

	.partners-sublist {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		li > * {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.little-userpic {
		width: 25px;
		height: 25px;
	}
}

/*main block*/

.product-title {
	margin-bottom: 10px;
}
.product-photo {
	position: relative;
	min-height: 100px;
	overflow: hidden;
	max-height: 400px;

	.discount {
		position: absolute;
		right: -20px;
		top: 15px;
		padding: 10px 15px;
		padding-right: 30px;
		background-color: rgb(0, 0, 0);
		opacity: 0.502;
		font-size: 24px;
		color: $cyan-color;
		font-weight: bold;
		font-family: 'Open Sans Hebrew Bold', serif;
		border-radius: 18px;
		direction: ltr;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.team-price-container {
	font-size: 18px;
	color: $dark-blue;
	line-height: 1.667;

	.t-coin-icon {
		width: 25px;
		height: 25px;
	}
}

.previous-price {
	padding: 0 5px;
	font-size: 0.9em;
	color: $light-text;
	text-decoration: line-through;
	line-height: 1.667;
}

.current-price, .team-price {
	padding: 0 5px;
	font-size: 1.4em;
	color: $dark-blue;
	line-height: 1.667;
}

.reviews-container {
	margin-top: 20px;
}
.others-actions svg, .my-actions svg {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0 5px;
	fill: $light-text;
}
.others-actions {
	margin: 0 10px;
	padding: 10px;
	background-color: #E0FBFE;

	.product-actions div {
		display: inline-block;
		margin-right: 20px;
		color: $light-text;
	}
	svg {
		width: 20px;
		height: 20px;
	}
}


.my-actions {
	margin: 20px;
	color: $light-text;
	font-size: 20px;

}
.my-actions, .others-actions {
	display: flex;
	justify-content: space-between;
}

.rating {
	list-style-type: none;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;

	li{
		display: inline-block;
	}

	svg {
		width: 20px;
		height: 20px;
		margin: 0;
	}
}



.manager-profile-menu {
	position: absolute;
	z-index: 9;
	display: none;
	left: 0px;
	min-width: 150px;
	background-color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);

	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;

		li {
			color: #000000;
			text-align: right;
            white-space: nowrap;
            padding: 10px 5px;

            svg {
            	fill: #000000;
            	width: 25px;
            	height: 25px;
            }

			* {
				display: inline-block;
				vertical-align: middle;
			}
		}
		li + li {
			border-top: 1px solid $light-border;
		}
	}
}
.manager-profile {
	border-bottom: 1px solid $light-border;
	font-size: 18px;
	padding-bottom: 10px;
	margin-bottom: 10px;

	.profile-info {
		width: calc(100% - 40px);
	}
	> div {
		vertical-align: middle;
		display: inline-block;
	}

	.toggle-block {
		position: relative;
		img {
			width: 25px;
			height: 20px;
			cursor: pointer;
		}
	}
	.toggle-block.active, .toggle-block:hover {
		img {
			transform: rotate(180deg);
		}

		.manager-profile-menu {
			display: block;
		}
	}
	.info {
		width: calc(100% - 70px);
		vertical-align: middle;
		display: inline-block;
	}
	svg{
		vertical-align: middle;
		width: 25px;
		height: 25px;
		display: inline-block;
		margin: 0 5px;
		fill: $light-text;
	}
}

.review-item {
	padding: 10px;
	width: 100%;
	border-top: 1px solid $light-border;
	font-size: 18px;
	line-height: 1.333;
	box-sizing: border-box;

	.info {
		width: calc(100% - 70px);
		vertical-align: middle;
		display: inline-block;
	}
}
.info .username {
	margin-left: 20px;
}

.review-item .userpic,
.manager-profile .userpic {
	vertical-align: middle;
	display: inline-block;
}

.profile-userpic {
	width: 50px;
	height: 50px;
}

.action-time {
	color: $light-text;
}

.review-actions {
	.action-item {
		display: inline-block;
		color: $dark-blue;
	}
	.action-item svg {
		vertical-align: middle;
		width: 22px;
		height: 22px;
		display: inline-block;
		margin: 0 5px;
		fill: $dark-blue;
	}
	.action-item:not(:first-child):before {
		content: "•";
		display: inline-block;
		margin-left: 18px;
		margin-right: 15px;
	}
}

.languages-block {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;

	.selected {
		color: $usual-text;
		font-weight: 600;
	}
}


.other-links {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;

	li {
		display: inline-block;
		padding: 0 10px;
		border-left: 1px solid $dark-blue;
	}
	li:last-child {
		border: none;
	}
	li:first-child {
		padding-right: 0;
	}
}
.add-friends-block {
	text-align: center;
	min-height: 500px;
    background: url(../img/add-friends.png) center 150px no-repeat;
    background-size: auto 100%;
    margin: -10px -20px;
}

.add-friends-btn, .add-friends-btn:active, .add-friends-btn:hover {
	display: block;
	width: 236px;
	box-shadow: 0px 2px 4px 0px rgba(0, 113, 188, 0.094);
    margin: 20px auto;
    padding: 15px 10px;
    font-size: 18px;
    font-family: 'Open Sans Hebrew', serif;
    line-height: 1.333;
    text-align: center;
    color: #FFFFFF;
    background-color: $dark-blue;
    cursor: pointer;
    border: none;
    outline: none;

    img {
    	display: block;
    	margin: 0 auto;
    	height: 25px;
    	width: auto;
    }
}
