//= templates/head.html
<body>
  //= templates/header.html
  
  <div class="page-content">
    //= templates/right-side.html

    <div class="main-container">
      <div class="social-page__title">יצירת קמפיין לשיתוף</div>
      <div class="simple-block">
        <div class="social-page__subtitle">מה ברצונך לפרסם ?</div>

        <form class="add-product-form">
          <div class="form-row">
            <input type="text" class="form-input" placeholder="כותרת עם תאור כללי של המוצר" />
            <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
          </div>
          <div class="form-row">
            <textarea class="form-input big-form-area" placeholder="תאור מפורט של המוצר"></textarea>
            <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
          </div>

          <div class="form-row">
            <div class='form-input big-form-area '>
              <div class="product-photos__upload-container">
                <div class="product-photos__upload-wrapper">
                  <input type="file" class="product-photos__upload" id="product-photos" accept="image/gif, image/jpeg, image/png" multiple/>
                  <label for="product-photos">הוספת תמונות של המוצר</label>
                </div>
              </div>
            </div>
            <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
          </div>
          <div class="form-row">
            <div class="dropdown-container product-category-container form-input">
              <span class="dropdown-selected-value">משלוח</span>
              <ul class="dropdown-list clearfix">
                <li class="simple-block">
                  <span class="categories-icon women-clothes"></span>
                  <span>בגדי נשים</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon men-clothes"></span>
                  <span>בגדי גברים</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon cellular"></span>
                  <span>סלולרי ואביזרים</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon laptop"></span>
                  <span>מחשבים</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon electronics"></span>
                  <span>מוצרי אלקטרוניקה</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon jewelry"></span>
                  <span>תכשיטים ושעונים</span>
                </li>

                <li class="simple-block">
                  <span class="categories-icon chair"></span>
                  <span>לבית ולגינה</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon bag"></span>
                  <span>תיקים ונעליים</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon kids"></span>
                  <span>משחקים, ילדים ותינוקות</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon cosmetics"></span>
                  <span>ציוד ספורט ומחנאות</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon sport"></span>
                  <span>בריאות וטיפוח</span>
                </li>
                <li class="simple-block">
                  <span class="categories-icon plus-big"></span>
                  <span>קטגוריות נוספות</span>
                </li>
              </ul>
            </div>
            <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
          </div>

          <div class="form-row no-padding-row">
            <div class="form-row__part">
              <input type='text' class="price-input" id="product-price" placeholder="מחיר"/>
              <label for="product-price"></label>
              <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
            </div>
            <div class="form-row__part">
              <input type='text' class="percent-input" id="product-percent" placeholder="אחוז עמלת שותף"/>
              <label for="product-percent"></label>
              <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
            </div>
            <div class="form-row__part">
              <input type='checkbox' id="allow-return"/>
              <label for="allow-return">אפשר החזרות</label>
              <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
            </div>
          </div>

          <div class="form-row">
            <div class="dropdown-container form-input">
              <span class="dropdown-selected-value">משלוח</span>
              <ul class="dropdown-list">
                <li>משלוח</li>
                <li>mybigverybigveryverybigoption</li>
                <li>option 2</li>
                <li>option 3</li>
              </ul>
            </div>
            <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
          </div>
          <div class="form-row">
            <a>פרטים נוספים</a>
            <svg class="icon info-tooltip-trigger" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
          </div>
          
        </form>
        
        <div class="btn-wrapper buying-btns">
          <button class="btn">שמור קמפיין</button>
          <button class="btn blue-btn">פרסם עכשיו</button>
        </div>
      </div>
    </div>

    //= templates/left-side.html
  </div>

  //= templates/footer.html


  <div class="tooltip">
    <div class="tooltip__text">הסבר קצר על מה התאור צריך לכלול, קצת הנחיות ומידע כללי. מופיע במעבר עכבר על אייקון סימן שאלה, נעלם עם יציאת הסמן משטח הבועה</div>

    <div class="clearfix">
      <a class="tooltip__additioanl-info-block left-side">
      מידע נוסף <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-info-italic"></use></svg>
      </a>
    </div>
  </div>

  <script src="media/js/main.js"></script>
  
</body>
</html>