//= templates/head.html
<body>
  //= templates/header.html
  
  <div class="page-content">
    //= templates/right-side.html

    <div class="main-container">
      <div class="social-page__title">הזמנת חברים</div>
      <div class="simple-block">
        <div class="social-page__subtitle">הוספת חברים מאפשרת לך להפיץ בקלות ובמהירות מוצרים חדשים, בהתאם לתחומי העניין של חבריכם</div>

        <div class="add-friends-block">
          <button class="add-friends-btn">הזמן חברים להיות שותפי<img src="media/img/icons/logo2.png"/></button>
          <a href="">מאוחר יותר, המשך לבחירת תחומי עניין</a>
        </div>
      </div>
    </div>

    //= templates/left-side.html
  </div>

  //= templates/footer.html


  <div class="tooltip">
    <div class="tooltip__text">הסבר קצר על מה התאור צריך לכלול, קצת הנחיות ומידע כללי. מופיע במעבר עכבר על אייקון סימן שאלה, נעלם עם יציאת הסמן משטח הבועה</div>

    <div class="clearfix">
      <a class="tooltip__additioanl-info-block left-side">
      מידע נוסף <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-info-italic"></use></svg>
      </a>
    </div>
  </div>

  <script src="media/js/main.js"></script>
  
</body>
</html>