//= templates/head.html
<body>
  //= templates/header-commerce.html
  
  <div class="breadcrumbs-container">
    <ul class="breadcrumbs">
      <li><a>דף הבית</a></li>
      <li><a>כל הקטגוריות</a></li>
      <li><a>סלולרי ואביזרים</a></li>
      <li class="active">טאבלט</li>
    </ul>
  </div>
  <div class="ecommerce-page-container">

    <div class="categories-container clearfix">
      <div class="simple-block">
        <span class="categories-icon women-clothes"></span>
        <span>בגדי נשים</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon men-clothes"></span>
        <span>בגדי גברים</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon cellular"></span>
        <span>סלולרי ואביזרים</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon laptop"></span>
        <span>מחשבים</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon electronics"></span>
        <span>מוצרי אלקטרוניקה</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon jewelry"></span>
        <span>תכשיטים ושעונים</span>
      </div>

      <div class="simple-block">
        <span class="categories-icon chair"></span>
        <span>לבית ולגינה</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon bag"></span>
        <span>תיקים ונעליים</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon kids"></span>
        <span>משחקים, ילדים ותינוקות</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon cosmetics"></span>
        <span>ציוד ספורט ומחנאות</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon sport"></span>
        <span>בריאות וטיפוח</span>
      </div>
      <div class="simple-block">
        <span class="categories-icon plus-big"></span>
        <span>קטגוריות נוספות</span>
      </div>
    </div>

    <div class="subcategories-container">
      <div class="category-block">
        <div class="category-name">בגדי נשים</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">בגדי גברים</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">סלולרי ואביזרים</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">מחשבים</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">מוצרי אלקטרוניקה</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">תכשיטים ושעונים</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">לבית ולגינה</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
      <div class="category-block">
        <div class="category-name">תיקים ונעליים</div>
        <ul class=" clearfix subcategories-list">
          <li>שמלות</li>
          <li>מעילים</li>
          <li>אביזרים</li>
          <li>שינה + נוחות</li>
          <li>גרביים</li>
          <li>סוודרים</li>
          <li>חולצות</li>
          <li>צמרות + טיז</li>
          <li>מקורבי</li>
          <li>נים וחולצות</li>
          <li>שינה + נוחות</li>
          <li>rompers bodysuits</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="scroll-to-top-block js-scroll-to-top">
    <span>נצפו לאחרונה</span>
    <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-arrow-up"></use></svg>
  </div>

  //= templates/footer.html

  <script src="media/js/main.js"></script>
  
</body>
</html>