//= templates/head.html
<body>
  //= templates/header.html
  
  <div class="page-content">
    //= templates/right-side.html

    <div class="tourbus-container" id="tourbus-0">
      <div class="tourbus-leg tourbus-arrow tourbus-arrow-bottom" id="tourbus-leg-0-0" style="z-index: 9999; width: auto; top: 73px; left: 474.938px; visibility: hidden; opacity: 1; display: none;">
        <div class="tourbus-leg-inner">
          <div class="tourbus-popup-header">
            <svg class="icon close-popup-icon" viewBox="0 0 23 23"><use xlink:href="#icon-close"></use></svg>
            <h2><div class="t-coin-icon"></div>ה-Teame’s שלך</h2>
          </div>
          <p>הסבר קצר על ה-Teame’s שלך</p>
          <p>הסבר קצר על ה-Teame’s שלך</p>
          <div class="tourbus-popup-footer clearfix">
            <a href="javascript:void(0);" class="tourbus-next">להסבר הבא ></a>
            <a href="javascript:void(0);" class="tourbus-stop">המשך ללא הסברים</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="simple-block">
        <div class="manager-profile">
          <div class="profile-info">
            <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div>
            <div class="info">
              <div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 23 23"><use xlink:href="#icon-people-outline"></use></svg></div>
              <div>לפני 3 שעות</div>
            </div>
          </div>
          <div class="toggle-block">
            <img src="media/img/icons/chevron-grey.png"/>
            <div class="manager-profile-menu">
              <ul>
                <li><svg class="icon" viewBox="0 0 23 23"><use xlink:href="#icon-save"></use></svg><span>Save</span></li>
                <li><svg class="icon" viewBox="0 0 23 23"><use xlink:href="#icon-stop"></use></svg><span>exit</span></li>
              </ul>
            </div>
          </div>
            
        </div>
        <div class="product-title">רחפן SP-500 עם מצלמת 1080p שליטה דרך אפליקציה בטלפון</div>
        <div class="product-photo">
          <div class="discount">-20%</div>
          <img src="media/img/plane.jpg"/>
        </div>
        <div class="clearfix">
          <div class="team-price-container left-side">
            <span>team-e’s-מחיר ב</span><span class="team-price">899</span><span class="t-coin-icon"></span>
            <div></div>
          </div>
          <div class="right-side"><span class="previous-price">₪1789</span><span class="current-price">₪1234</span></div>
        </div>
        <div class="btn-wrapper buying-btns">
          <button class="btn">שתף</button>
          <button class="btn">הוסף לסל</button>
          <button class="btn blue-btn">קנה עכשיו</button>
        </div>
        <div class="reviews-container">
          <div class="others-actions">
            <div>
              <ul class="rating">
                <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
                <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
                <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
                <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
                <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-empty"></use></svg></li>
              </ul>
            </div>
            <div class="product-actions">
              <div><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>2</span></div>
              <div><svg class="icon" viewBox="0 0 22 22"><use xlink:href="#icon-arrow"></use></svg><span>2</span></div>
              <div><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-message"></use></svg><span>2</span></div>
            </div>
          </div>
          <div class="my-actions">
            <div>
              <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>אהבתי</span>
            </div>
            <div>
              <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-message"></use></svg><span>הגב</span>
            </div>
          </div>

          <div class="reviews-block">
            <div class="review-item">
              <div class="userpic"><img src="media/img/avatar.jpg"/></div>
              <div class="info">
                <div><a class="username">שלום כהן</a><span>נראה מעולה</span></div>
                <div class="action-time">לפני 30 דקות</div>
                <div class="review-actions">
                  <div class="action-item"><span>הגב</span></div>
                  <div class="action-item"><span>אהבתי</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>2</span></div>
                </div>
              </div>
            </div>

            <div class="review-item">
              <div class="userpic"><img src="media/img/avatar.jpg"/></div>
              <div class="info">
                <div><a class="username">שלום כהן</a><span>נראה מעולה</span></div>
                <div class="action-time">לפני 30 דקות</div>
                <div class="review-actions">
                  <div class="action-item"><span>הגב</span></div>
                  <div class="action-item"><span>אהבתי</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>2</span></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    //= templates/left-side.html
  </div>

  //= templates/popup.html
  //= templates/footer.html

  <script src="media/js/main.js"></script>
  
</body>
</html>