//= templates/head.html
<body>
  //= templates/header.html
  
  <div class="page-content">
    //= templates/right-side.html

    <div class="main-container">
      <div class="partners-list__searchbar">
        <div class="partners-list__search-info">
          <span class="partners-list__page-title">השותפים שלי</span>
          <span>שותפים 1,303</span>
        </div>
        <input type="text" class="search-input" placeholder="חיפוש" />
      </div>
      <div class="simple-block partners-list-page">
        <div class="partners-list__container">

          <div class="partners-list__item">
            <div class="partners-list__toggle-block">
              <div>
                <span class="partners-stage-number">רמה 1</span>
                <span>89</span>
                <span>שותפים</span>
              </div>
              <div class="toggle-block-arrow opened"></div>
            </div>
            <ul class="partners-list__toggle-list opened">
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
            </ul>
          </div>

          <div class="partners-list__item">
            <div class="partners-list__toggle-block">
              <div>
                <span class="partners-stage-number">רמה 2</span>
                <span>123</span>
                <span>שותפים</span>
              </div>
              <div class="toggle-block-arrow"></div>
            </div>
            <ul class="partners-list__toggle-list">
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
            </ul>
          </div>

          <div class="partners-list__item">
            <div class="partners-list__toggle-block">
              <div>
                <span class="partners-stage-number">רמה 3</span>
                <span>1</span>
                <span>שותפים</span>
              </div>
              <div class="toggle-block-arrow"></div>
            </div>
            <ul class="partners-list__toggle-list">
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
              <li>
                <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div><a class="username">ישראל ישראלי</a><span>מומחה</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-people-outline"></use></svg>
              </li>
            </ul>
          </div>

        </div>


      </div>
    </div>

    //= templates/left-side.html
  </div>

  //= templates/footer.html


  <div class="tooltip">
    <div class="tooltip__text">הסבר קצר על מה התאור צריך לכלול, קצת הנחיות ומידע כללי. מופיע במעבר עכבר על אייקון סימן שאלה, נעלם עם יציאת הסמן משטח הבועה</div>

    <div class="clearfix">
      <a class="tooltip__additioanl-info-block left-side">
      מידע נוסף <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-info-italic"></use></svg>
      </a>
    </div>
  </div>

  <script src="media/js/main.js"></script>
  
</body>
</html>