//= templates/head.html
<body>
  //= templates/header-commerce.html
  
  <div class="breadcrumbs-container">
    <ul class="breadcrumbs">
      <li><a>דף הבית</a></li>
      <li><a>כל הקטגוריות</a></li>
      <li><a>סלולרי ואביזרים</a></li>
      <li class="active">טאבלט 345 תוצאות</li>
    </ul>
    <div class="search-field-breadcrumbs">
      <input type="text"  placeholder="מחיר לאחר הנחה"/>
      <svg class="icon" viewBox="0 0 20 20"><use xlink:href="#icon-search"></use></svg>
    </div>
  </div>
  <div class="ecommerce-page-container product-page">
    <div class="product-block clearfix">
      <div class="left-side product-title-container">
        <div class="product-title">
          Huawei Honor C4 + technical details about the product Huawei Honor C4 + technical details about the product
        </div>
        <div class="product-short-info">
          <div class="rating-container">
            <ul class="rating">
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-empty"></use></svg></li>
            </ul>
            <span>4.2</span>
          </div>
          <div>הזמנות (2323)</div>
          <div>משוב (1234)</div>
        </div>

      </div>
      <div class="product-gallery right-side">
        <div class="product-images">
          
          <div class="easyzoom easyzoom--adjacent product-main-photo">
              <a href="media/img/product-big.jpg" class="js-zoom-image">
                <img src="media/img/product.jpg" class="js-standart-image"/>
              </a>
          </div>
          <div class="glass"></div>
          <ul class="photo-gallery js-photo-gallery">
          </ul>
          <div  class="zoom-photo"><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-zoom"></use></svg>העבר עכבר מעל לתמונה למיקוד באזור מסויים</div>
        </div>

      </div>
      <div class="product-info left-side">
        <table class="description-table">
          <tr>
            <td>מחיר</td>
            <td><span class="previous-price">₪2,789</span></td>
          </tr>
          <tr>
            <td>מחיר לאחר הנחה</td>
            <td><span class="current-price">244 ₪</span></td>
          </tr>
          <tr>
            <td>מחיר ב Teame’s</td>
            <td><span class="team-price">899</span><span class="t-coin-icon"></span></td>
          </tr>
          <tr>
            <td>מצב הפריט</td>
            <td>חדש</td>
          </tr>
          <tr>
            <td>צבע</td>
            <td>
              <ul class="product-colors">
                <li>
                  <input type="radio" name='product-color' id="grey-product" />
                  <label for="grey-product"></label>
                  <span>אפור</span>
                </li>
                <li>
                  <input type="radio" name='product-color' id="white-product" />
                  <label for="white-product"></label>
                  <span>לבן</span>
                </li>
                <li>
                  <input type="radio" name='product-color' id="black-product" />
                  <label for="black-product"></label>
                  <span>שחור</span>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>משלוח</td>
            <td>
              <select class="select-blue-chevron">
                <option disabled selected>משלוח סטנדרטי</option>
                <option>delivery option 1</option>
              </select>
              <span>אל</span>
              <div class="dropdown-container">
                <span class="dropdown-selected-value"><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-israel-flag"></use></svg>ישראל</span>
                <ul class="dropdown-list">
                  <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-israel-flag"></use></svg>ישראל</li>
                  <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-israel-flag"></use></svg>mybigverybigveryverybigoption</li>
                  <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-israel-flag"></use></svg>option 2</li>
                  <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-israel-flag"></use></svg>option 3</li>
                </ul>
              </div>
              <span>חינם</span>

              <span class="delivery-duration">זמן אספקה משוער: 20-24 ימים
                <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-help-circle"></use></svg>
              </span>
            </td>
          </tr>
          <tr>
            <td>כמות</td>
            <td>
              <span class="quantity-selector">
                <svg class="icon js-quantity-decr" viewBox="0 0 25 25"><use xlink:href="#icon-minus-circle"></use></svg>
                <span class="js-quantity">1</span>
                <svg class="icon js-quantity-inc" viewBox="0 0 25 25"><use xlink:href="#icon-plus-circle"></use></svg>
              </span>
              <span class="limited">מוגבל ל-2 יחידות ללקוח</span>
            </td>
          </tr>
        </table>
        <div class="btn-wrapper buying-btns">
          <button class="btn blue-btn">קנה עכשיו</button>
          <button class="btn">שתף</button>
        </div>
        <div class="buying-links">
          <a><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-shopping-cart"></use></svg>הוסף לעגלת הקניות</a>
          <a><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-bookmark"></use></svg>הוסף למועדפים</a>
        </div>
        <table class="description-table table-with-discount">
          <tr>
            <td>מבצעי המוכר</td>
            <td><span class="discount-info">שובר הנחה על סך 20</span></td>
          </tr>
          <tr>
            <td>מדיניות החזרה</td>
            <td>פרטים על מדיניות החזרה של החנות על מוצריה. <a>פרטים נוספים</a></td>
          </tr>
          <tr>
            <td>אחריות</td>
            <td>פרטים על אחריות החנות על המוצרים</td>
          </tr>
        </table>
      </div>

      <div class="reviews-container right-side">
        <div class="others-actions">
          <div>
            <ul class="rating">
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
              <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-empty"></use></svg></li>
            </ul>
          </div>
          <div class="product-actions">
            <div><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>2</span></div>
            <div><svg class="icon" viewBox="0 0 22 22"><use xlink:href="#icon-arrow"></use></svg><span>2</span></div>
            <div><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-message"></use></svg><span>2</span></div>
          </div>
        </div>
        <div class="my-actions">
          <div>
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-message"></use></svg><span>הגב</span>
          </div>
          <div>      
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>אהבתי</span>
          </div>
        </div>

        <div class="reviews-block">
          <div class="review-item">
            <div class="userpic"><img src="media/img/avatar.jpg"/></div>
            <div class="info">
              <div><a class="username">שלום כהן</a><span>נראה מעולה</span></div>
              <div class="action-time">לפני 30 דקות</div>
              <div class="review-actions">
                <div class="action-item"><span>הגב</span></div>
                <div class="action-item"><span>אהבתי</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>2</span></div>
              </div>
            </div>
          </div>

          <div class="review-item">
            <div class="userpic"><img src="media/img/avatar.jpg"/></div>
            <div class="info">
              <div><a class="username">שלום כהן</a><span>נראה מעולה</span></div>
              <div class="action-time">לפני 30 דקות</div>
              <div class="review-actions">
                <div class="action-item"><span>הגב</span></div>
                <div class="action-item"><span>אהבתי</span><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-thumbs-up"></use></svg><span>2</span></div>
              </div>
            </div>
          </div>

        </div>
        <div class="buying-links">
          <a>הצג תגובות נוספות</a>
          <a>עבור לרשת החברתית</a>
        </div>
      </div>
    </div>


    <div class="clearfix">
      <div class="product-full-info left-side">
        <ul class="tabs">
          <li id="information" class="tab-header active">פרטי המוצר</li>
          <li id="feedback" class="tab-header">משוב</li>
          <li id="delivery" class="tab-header">משלוח ותשלום</li>
          <li id="warranty" class="tab-header">אחריות מוכר</li>
          <li id="problem-report" class="tab-header">דווח על בעיה</li>
        </ul>
        <div class="tabs-content">
          <div id="information-block" class="tab-content active">
            <div class="block-title">מפרט טכני</div>
            <div class="block-info double-table-container clearfix">
              <table class="description-table right-side">
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
              </table>
              <table class="description-table left-side">
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
                <tr>
                  <td>סוג מידע</td>
                  <td>מידע מפורט על הפריט</td>
                </tr>
              </table>
            </div>
            <div class="block-title">תיאור המוצר</div>
            <div class="block-info">
              תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט מאוד של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט 555 5555555 555 של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו. תיאור מפורט של המוצר ויתרונותיו.
            </div>
            <div class="block-info">
              <img src="media/img/product-big.jpg"/>
              <img src="media/img/product-big.jpg"/>
            </div>
          </div>
          <div id="feedback-block" class="tab-content">משוב
          </div>
          <div id="delivery-block" class="tab-content">משלוח ותשלום
          </div>
          <div id="warranty-block" class="tab-content">אחריות מוכר
          </div>
          <div id="problem-report-block" class="tab-content">דווח על בעיה
          </div>
        </div>
      </div>
      <div class="seller-info right-side">
        <div class="section-title">שם המוכר</div>
        <div>א.א. מוצרים</div>
        <ul class="rating">
          <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
          <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
          <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
          <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-full"></use></svg></li>
          <li><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-star-empty"></use></svg></li>
        </ul>
        <div>82 % משוב חיובי</div>

        <div class="seller-links">
          <a><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-shop"></use></svg></a>
          <a><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-chat"></use></svg>צ׳ט עם המוכר</a>
          <a><svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-mail"></use></svg>צור קשר</a>
        </div>

        <div class="section-title">קטגוריות של המוכר</div>
        <div class="seller-categories">
          <div class="seller-category-item">טאבלטים</div>
          <div class="seller-category-item">טאבלטים</div>
          <div class="seller-category-item">טאבלטים</div>
          <a>הצג עוד</a>
        </div>

        <div class="section-title">רבי מכר של מוכר זה</div>
        <div class="bestsellers-products">
          <div class="bestsellers-product">
            <img src="media/img/plane.jpg"/>
            <div>רחפן עם מצלמת 1080 שליטה דרך אפליקציה</div>
            <span class="previous-price">₪1789</span><span class="current-price">₪1234</span>
          </div>
          <div class="bestsellers-product">
            <img src="media/img/plane.jpg"/>
            <div>רחפן עם מצלמת 1080 שליטה דרך אפליקציה</div>
            <span class="previous-price">₪1789</span><span class="current-price">₪1234</span>
          </div>
          <div class="bestsellers-product">
            <img src="media/img/plane.jpg"/>
            <div>רחפן עם מצלמת 1080 שליטה דרך אפליקציה</div>
            <span class="previous-price">₪1789</span><span class="current-price">₪1234</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="scroll-to-top-block js-scroll-to-top">
    <span>נצפו לאחרונה</span>
    <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-arrow-up"></use></svg>
  </div>

  //= templates/footer.html

  <script src="media/js/main.js"></script>
  
</body>
</html>