//= templates/head.html
<body>
  //= templates/header-commerce.html
  <div class="profile-page">
    <div class="page-title">עריכת פרופיל
    </div>
    <a class="homepage-link"> <  המשך הקניות</a>

    <div class="ecommerce-page-container">
      <div class="clearfix">

        <div class="right-side user-photo">
          <div class="user-photo__container">
            <div class="userpic profile-userpic"><img src="media/img/avatar.jpg"/></div>
            <input type="file" id="upload-avatar" accept="image/gif, image/jpeg, image/png"/>
            <label for="upload-avatar">עדכון תמונה</label>
          </div>
          <div class="user-name field-value">
            <div class="field-value__item">
              <span class="field-text">תומר ישראלי</span>
              <input type="text" class="field-edit"/>
              <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
            </div>
            <div class="user-status">מומחה</div>
          </div>

        </div>
        <div class="left-side user-info-form">

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-user-outline"></use></svg>
            <div class="field-name">שם משתמש:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">tomeris</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-key"></use></svg>
            <div class="field-name">סיסמא:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">*********</span>
                <input type="password" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>
          
          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-phone"></use></svg>
            <div class="field-name">מספר טלפון:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">052-3456789</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
              <div class="field-value__item">
                <span class="field-text">077-7778889</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-globe"></use></svg>
            <div class="field-name">אזור/מדינה:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">ישראל</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-gender"></use></svg>
            <div class="field-name">מגדר:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">זכר</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-address"></use></svg>
            <div class="field-name">כתובת למשלוחים:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">דרך הטייסים 5, תל אביב</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-credit"></use></svg>
            <div class="field-name">אמצעי תשלום:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <span class="field-text">**** **** **** 4342</span>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>

          <div class="user-info-form__item">
            <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-wallet"></use></svg>
            <div class="field-name">אמצעי קבלת תשלום:
            </div>
            <div class="field-value">
              <div class="field-value__item">
                <img class="field-text" src="media/img/icons/pay-pal.png"/>
                <input type="text" class="field-edit"/>
                <svg class="icon icon-edit" viewBox="0 0 25 25"><use xlink:href="#icon-edit"></use></svg>
              </div>
            </div>
          </div>


          <div class="user-info-form__end">
            <div class="your-teams">
              <span class="teams-terms">על כל פרט שתמלא תקבל נקודת team-e נוספת.</span>
              <span class="teams-count">סה״כ teames שצברת: 8 </span>
              <img src="media/img/icons/t-coin.png"/>
            </div>
            <div>
              <button class="btn blue-btn">שמור שינויים</button>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="scroll-to-top-block js-scroll-to-top">
    <span>נצפו לאחרונה</span>
    <svg class="icon" viewBox="0 0 25 25"><use xlink:href="#icon-arrow-up"></use></svg>
  </div>

  //= templates/footer.html

  <script src="media/js/main.js"></script>
  
</body>
</html>