//= templates/head.html
<body>
  //= templates/header.html
  
  <div class="page-content">
    //= templates/right-side.html

    <div class="main-container social-categories">
      <div class="social-page__title">בחירת תחומי עניין</div>
      <div class="simple-block">
        <div class="social-page__subtitle">כדי לקבל מוצרים המתאימים לתחומי העניין שלך מומלץ לסמן לפחות שתיקטגוריות ראשיות</div>

        <div class="categories-container categories-selecting js-select-category-container">
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/women-clothes.png"/></span>
            <span>בגדי נשים</span>
            <input type="checkbox" id="women-clothes"/>
            <label for="women-clothes"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/men-clothes.png"/></span>
            <span>בגדי גברים</span>
            <input type="checkbox" id="men-clothes"/>
            <label for="men-clothes"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/cellular.png"/></span>
            <span>סלולרי ואביזרים</span>
            <input type="checkbox" id="cellular"/>
            <label for="cellular"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/laptop.png"/></span>
            <span>מחשבים</span>
            <input type="checkbox" id="laptop"/>
            <label for="laptop"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/electronics.png"/></span>
            <span>מוצרי אלקטרוניקה</span>
            <input type="checkbox" id="electronics"/>
            <label for="electronics"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/jewelry.png"/></span>
            <span>תכשיטים ושעונים</span>
            <input type="checkbox" id="jewelry"/>
            <label for="jewelry"></label>
          </div>

          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/chair.png"/></span>
            <span>לבית ולגינה</span>
            <input type="checkbox" id="chair"/>
            <label for="chair"></label>
          </div>
          <div class="simple-block">
            <div class="categories-icon"><img src="media/img/icons/bag.png"/></div>
            <span>תיקים ונעליים</span>
            <input type="checkbox" id="bag"/>
            <label for="bag"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/kids.png"/></span>
            <span>משחקים, ילדים ותינוקות</span>
            <input type="checkbox" id="kids"/>
            <label for="kids"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/cosmetics.png"/></span>
            <span>ציוד ספורט ומחנאות</span>
            <input type="checkbox" id="cosmetics"/>
            <label for="cosmetics"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/sport.png"/></span>
            <span>בריאות וטיפוח</span>
            <input type="checkbox" id="sport"/>
            <label for="sport"></label>
          </div>
          <div class="simple-block">
            <span class="categories-icon"><img src="media/img/icons/plus-big.png"/></span>
            <span>קטגוריות נוספות</span>
            <input type="checkbox" id="other-category"/>
            <label for="other-category"></label>
          </div>
        </div>

        <div class="social-page__subtitle">הגדרה של תת-קטגוריות תאפשר לנו להציע מגוון מדוייק יותר של מוצרים המתאימים לך בדיוק</div>

        <div class="social-part-title">סלולארי ואביזרים</div>

        <div class="social-page__subcategories">
          <div class="subcategories-item">
            <div class="subcategory-title">תת קטגוריה</div>
            <ul class="social-page__subcategories-list">
              <li>
                <input type="checkbox" id="ch1"/>
                <label for="ch1">IPhone 1</label>
              </li>
              <li>
                <input type="checkbox" id="ch2"/>
                <label for="ch2">IPhone 2</label>
              </li>
            </ul>
          </div>
          <div class="subcategories-item">
            <div class="subcategory-title">תת קטגוריה</div>
            <ul class="social-page__subcategories-list">
              <li>
                <input type="checkbox" id="ch11"/>
                <label for="ch11">IPhone 1</label>
              </li>
              <li>
                <input type="checkbox" id="ch12"/>
                <label for="ch12">IPhone 2</label>
              </li>
            </ul>
          </div>
          <div class="subcategories-item">
            <div class="subcategory-title">תת קטגוריה</div>
            <ul class="social-page__subcategories-list">
              <li>
                <input type="checkbox" id="ch21"/>
                <label for="ch21">IPhone 1</label>
              </li>
              <li>
                <input type="checkbox" id="ch22"/>
                <label for="ch22">IPhone 2</label>
              </li>
            </ul>
          </div>
          <div class="subcategories-item">
            <div class="subcategory-title">תת קטגוריה</div>
            <ul class="social-page__subcategories-list">
              <li>
                <input type="checkbox" id="ch31"/>
                <label for="ch31">IPhone 1</label>
              </li>
              <li>
                <input type="checkbox" id="ch32"/>
                <label for="ch32">IPhone 2</label>
              </li>
            </ul>
          </div>
          <div class="subcategories-item">
            <div class="subcategory-title">תת קטגוריה</div>
            <ul class="social-page__subcategories-list">
              <li>
                <input type="checkbox" id="ch41"/>
                <label for="ch41">IPhone 1</label>
              </li>
              <li>
                <input type="checkbox" id="ch42"/>
                <label for="ch42">IPhone 2</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="submit-links">
          <button class="btn blue-btn">בחרתי קטגוריות</button>
          <a>דלג</a>
        </div>
      </div>
    </div>

    //= templates/left-side.html
  </div>

  //= templates/footer.html


  <script src="media/js/main.js"></script>
  
</body>
</html>